.topic_table_div{display:none;}
.section_content
{
	margin: 1em 0;
	/*
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
	*/
	margin: 0 0 20px;
	padding: 8px 15px;
	background: #191919;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #121212;
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
	overflow: auto;
	overflow-y: hidden;
}

table{
	margin :0 0 5px;
} 

.outer_wrapper{
	overflow:auto;
    position:absolute;
    top:70px;
    bottom:0px;
	width:100%;
}

body{
    overflow:hidden;
}


::-webkit-scrollbar {
    width: 20px;
	background: transparent;
	opacity:0.3;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.5); 
    border-radius: 2px;
	background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 15px rgba(255,255,255,0.8); 
	background: transparent;
}